﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Css/MyCss.css" rel="stylesheet" />
    <title>News Web</title>
</head>

<body>

    <div class="header">
        <div class="logo">
            <img src="~/Content/Image/Logo_Vnexpress.png" />
            <span>VNEXPRESS</span>
        </div>
        <div class="menu-container">
            <a href="#" id="login-link">Đăng nhập</a>
            <div class="login-form" id="login-form">
                <input type="text" id="username" name="username" placeholder="Tên đăng nhập">
                <input type="password" id="password" name="password" placeholder="Mật khẩu">
            </div>
            <a href="#">Mới nhất</a>
            <a href="#">Tin theo khu vực</a>
            <a href="#">International</a>
        </div>
    </div>

</body>

</html>
