﻿﻿body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40; /* Màu nền header */
    color: #fff; /* Màu chữ header */
    padding: 20px;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        width: 200px;
        height: auto;
        margin-right: 10px;
    }

    .logo span {
        font-size: 24px;
        font-weight: bold;
    }

.menu-container {
    display: flex;
    gap: 20px;
}

    .menu-container a {
        text-decoration: none;
        color: #fff; /* Màu chữ menu */
        font-size: 16px;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .menu-container a:hover {
            color: #ffc107; /* Màu chữ menu khi hover */
        }

#login-link {
    cursor: pointer;
    color: #ffc107; /* Màu chữ nút Đăng nhập */
}

#login-form {
    display: none;
}

#login-link:focus + #login-form {
    display: flex;
    gap: 10px;
}

#username,
#password {
    padding: 8px;
    width: 150px;
    box-sizing: border-box;
}

    /* Màu cho ô nhập khi focus */
    #username:focus,
    #password:focus {
        border: 2px solid #ffc107;
    }
